/* General styles */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  /* Top navigation */
  .top-nav {
    background-color: #0f0f0f;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-nav .left-corner 
  {
    font-size: 0.5em;
    text-align: left;
    margin-left: 80px;
    padding: 0;
    line-height: 2.5em;
  }
  .top-nav .left-corner p
  {
    font-size: 1.5em;
    text-align: left;
    color: #b3b3b3c5;
    padding: 0;
    margin: 0;
  }
  .top-nav .left-corner h2
  {
    font-size: 2.0em;
    text-align: left;
    color:#b3b3b3;
    padding: 0;
    margin: 0;
  }
  .top-nav .logo {
    font-size: 24px;
   
    color: #4ade80; /* Light green color */
    padding-left: 15px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .top-nav .user-info {
    display: flex;
    align-items: center;
  }
  
  .top-nav .user-name {
    margin-right: 16px;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  .top-nav .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4ade80; /* Placeholder for avatar */
  }
  
  /* Left navigation */
  .left-nav {
    width: 60px;
    height: 100vh;
    background-color: #0f0f0f;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  /* padding-top: 170px;  Adjust based on top nav height */
    padding: 170px 20px;
  }
  
  .left-nav .nav-item {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #2d2d2d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .left-nav .nav-item:hover
  {
    /*background-color: #4ade80;*/
    background-color: #46ffbc;
  }
  .left-nav .nav-item.active .ikona
  {
    color: #000000;
    
  }
  .left-nav .nav-item.active {
    background-color: #e3ffa8;
    color: #000000; /* Light green color */
  }
  
  .left-nav .nav-item i {
    font-size: 30px;
    color: #ffffff;
  }
  .left-nav .nav-item i:hover {
    font-size: 30px;
    color: #000000;
  }
  .aktivna-ikona
  {
    color:#000000;
  }
  .nav-itemm
  {
    color:#ffffff;
    background-color: #000000;;
    border:none;
    padding:10px;
    margin-left:10px;
    font-size: 1.0em;
    
    font-weight: bold;
  }
  .nav-itemm:hover
  {
    background-color: #4ade80;
    color: #000000;
    font-size: 1.0em;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }